.*
!.gitignore
!.gitattributes
!.env.example
!.project
!.cproject
!.gitkeep
!.gitkeeper
!.htaccess
*~
*.swp
*.bak
build/
Debug/
Release/
ipch/
*.ncb
Thumbs.db
*.mode1v3
*.DS_Store
*.vspscc
*.user
*.sdf
*.filters
*.opensdf
*.suo
~$*.xls*
~$*.doc*
xcuserdata/
xcshareddata/
nbproject/
nbproject/private/
